@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Open Sans; Helvetica;
    color: #242424;
}

/* Header and logo */
h1, h2 {
    font-family: Montserrat, Helvetica, sans-serif;
    text-transform:uppercase;
    letter-spacing: 4px;
    color:#292929}

#logo{
    float: left;
    font-size: 300%;
    padding-left: 30px;
}

#logo2{
    float: left;
    font-size: 110%;
    padding-left: 20px;
}

/* Navigation */

#nav{
    font-size: 110%;
    letter-spacing: 4px;
}

#nav, #logo, #logo2{
    line-height:75px ;
}

#nav ul{
    float:right
}

#nav li{
    float:left;
    list-style: none;
    margin-right: 20px;
}

#nav a{
    text-decoration: none;
    color:inherit;
}

#nav a:hover{
    border-bottom: 1px solid #292929;
}

.active {
    border-bottom: 1px solid #292929;
}