@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Open Sans', 'Helvetica';
    color: #242424;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Header and logo */

h1, h2 {
    font-family: 'Montserrat', 'Helvetica', 'sans-serif';
    text-transform:uppercase;
    letter-spacing: 4px;
    color:#292929}

#logo{
    float: left;
    font-size: 300%;
    padding-left: 30px;
    height: 75px;
}

#logo2{
    float: left;
    font-size: 110%;
    padding-left: 20px;
}

/* Navigation */

#nav{
    font-size: 110%;
    letter-spacing: 4px;
}

#nav, #logo, #logo2{
    line-height:75px ;
}

#nav ul{
    float:right
}

#nav li{
    float:left;
    list-style: none;
    margin-right: 20px;
}

#nav a{
    text-decoration: none;
    color:inherit;
}

#nav a:hover{
    border-bottom: 1px solid #292929;
}

.active {
    border-bottom: 1px solid #292929;
}

/* main index image */
#mat-outer{
    height: 600px;
    width: 100%;
    position: relative;
    overflow:hidden;
}

#cover-text, #cover-text h2{
        color: #c7ddc7;
        }

#mat{
    height: 600px;
    width: 100%;
    background-image: url('../images/pexels-mikhail-nilov-6740754.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

#cover-text{
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width:350px;
    height:60px;
    padding: 10px;
    background-color: rgba(46, 49, 49, .6);
    top: 30px;
    right: 100px;
    position:absolute;
}

/* Practice and teachers sections */
.practice-title{
    width: 100%;
    height: 30px;
    padding: 20px;
    text-align: center;
}

.practice {
    background-color:#c7ddc7; 
    overflow: auto;
}

.practice div{
    width: 33.3%;
    height: 300px;
    float: left;
    padding: 30px 20px 0px 20px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

.practice a{
    text-decoration: none;
    color:inherit;
    font-size: medium;
}

.practice a:hover{
    border-bottom: 1px solid #292929;
}

/* footer */

footer {
    margin-top: 0%;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: #292929;
  }

footer>div {
    text-align: center; 
    }

footer li{
    display: inline;
    list-style-type: none;
}

footer i{
    font-size: 150%;
    margin: 2%;
    color: #c7ddc7;
    padding-top: 0%;
}

/* Schedule table page */

#table{
    background: url("../images/pexels-daria-klimova-9985426.jpg");
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

table {
    height: 300px;
    width: 50%;
    position: relative;
    overflow:hidden;
    text-align: center;
    font-size: 150%;
    color: #c7ddc7;}

table td, th{
    border:2px solid #242424 ;
    background-color: rgba(0, 0, 0, .6)
}

#float-left{
    float: left;
    padding: 20px;
}

#float-right{
    float: right;
    padding: 20px;
}

#table>div{
    display: none;
}
  
#teacher img {
    height: 100px;
    width: 100 px;
  }

/* Contact us */
.form{
    height: 600px;
    width: 100%;
    position: relative;
    overflow:hidden;
    background: url("../images/pexels-min-an-1234035.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

.form h2{
    height:50px;
    color:#c7ddc7;
    background-color:rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position:absolute;
    left:10%;
    padding:30px;
}

.form-response{
    height:350px;
    color:#c7ddc7;
    background-color:rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position:absolute;
    right:10%;
    padding:30px;
    font-size: 120%;
    text-align: left;
    }

.text{
    height: 100px;
    width: 300px;
    padding-bottom: 5%;
    margin-bottom: 2%;
}

.submit{
    text-align:center;
    font-size:100%;
    background-color:#75c775;
    color:#242424;
    display:block;
    margin: 5%;
    padding: 5%;
}

.response{
    padding: 2%;
    margin: 2%;
}

#map-point {
    background-color:#c7ddc7; 
    overflow: auto;
}

.map-point{
    width: 70%;
    height: 300px;
    float: left;
    padding: 30px 20px 0px 20px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

.details{
    width: 30%;
    height: 300px;
    float: left;
    padding: 30px 20px 0px 20px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* media queries */

@media screen and (max-width:1110px) {

    .practice > div {
        width: 100%;
        clear: both;
    }

    .map-point{
        display: none;
    }
    
    .details {
        width: 100%;
        clear: both;
    }
}

/* for tablet and larger phone screens */

@media screen and (max-width:950px) {
 
    #header {
        clear:both;
        width: 100%;
        margin: 0 auto;
        line-height: 25px;}
     
    #nav {
        clear:left;
        float:left;
        padding-left: 10px;
        padding-bottom: 20px;
        line-height: 25px;
    }

    .practice-title{
        width: 90%;
        height: 50px;
    }

    #cover-text{
        right:0;
    }

    #float-left{
        display: none;
    } 

    #float-right{
        font-size: medium;
        width: 100%;
        clear: both;
    }

    #table .div_to_hide{
        display:contents;
    }

    .div_to_hide h1, .div_to_hide p{
        background-color: rgba(0, 0, 0, .6);
        color:#c7ddc7;
        width: 80%;
        font-size:x-large;
        font-family: 'Open Sans', 'sans-serif';
        margin: 0 auto;
        clear: both;
    }

    .div_to_hide #white{
        background-color: rgba(46, 49, 49, .6);
        color:#242424;
    }
  
    .form h2{
        width: auto;
        clear:both;
    }

    .form-response {
        margin-top: 120px;
        text-align: left;
    }

    footer{
        height: 100px;
        margin:0;
    }

    footer li{
        clear:both;
        display: inline;
    }
}

@media screen and (max-width:400px) {
    #nav {
       display: flex;
       justify-content: center;
       text-align: center;
       align-items: center;
       flex-wrap: wrap;}

    .practice-title{
        width: 80%;
        height: 80px;
    }

    #cover-text{
        right:0;
        width: 80%;
        font-size: small;
    }

    table{
        height:275px;
    }

    .form-response {
        margin-top: 120px;
        width: 80%;
        height: 400px;
        padding: 2px;
    }

    .text{
        height: 100px;
        width: 75%;
    }

    }